{% extends "base.html" %}



{% load staticfiles %}

{% block css.extra %}
<link rel="stylesheet" type="text/css" href="{% static 'imagedb/style.css' %}"/>
{% endblock css.extra %}

{% block js.extra %}
<script type="text/javascript" src="{% static 'casu/js/jquery.lazyload.js' %}"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#search').keyup(function() {
			searchTable($(this).val());
		});
	});

    function searchTable(inputVal) {
	    var table = $('#tblData');
	    table.find('tr.data').each(function(index, row) {
			var allCells = $(row).find('td');
			var found = false;
			allCells.each(function(index, td) {
				var regExp = new RegExp(inputVal, 'i');
				if(regExp.test($(td).text())) {
					found = true;
					return false;
				}
			});
			if(found == true)$(row).show();else $(row).hide();
		});
    };
</script>

{% endblock js.extra %}

{% block sitetitle %}ImageDB{% endblock sitetitle %}

{% block cssmenu %}{% include "imagedb/cssmenu.html" %}{% endblock cssmenu %}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% block pagename %}
Image Collections
{% endblock pagename %}


{% block content %}


<div class="bbox">

    <strong>Total number of images:</strong> {{ totalimages }}

    <div id="searchBox" style="float: right">
    <label for="search"><strong>Search </strong>     </label>
    <input type="text" id="search" style="width: 200px; border: 1px solid black;" />
    </div>
</div>

<div class="collection">




<table id="tblData" style="width: 100%">
    <tr>
        <th>Survey</th>
        <th>Field</th>
        <th>Telescope</th>
        <th>Instrument</th>
        <th>Waveband</th>
        <th>Number of images</th>
        <th>R.A. range</th>
        <th>Dec range</th>
        <th>PI</th>
        <th>Status</th>
    </tr>
    <tr></tr>
{% for item in collection %}
    {% if item.number %}
    <tr class="data">
        <td>{{ item.survey }}</td>
        <td>{{ item.field }}</td>
        <td>{{ item.telescope }}</td>
        <td>{{ item.instrument }}</td>
        <td>{{ item.filter }}</td>
        <td>{{ item.number }}</td>
        <td>[ {{ item.cenra__min|floatformat:2 }}, {{ item.cenra__max|floatformat:2 }} ]</td>
        <td>[ {{ item.cendec__min|floatformat:2 }}, {{ item.cendec__max|floatformat:2 }} ]</td>
        <td>{{ item.pi }}</td>
        <td>{{ item.status|capfirst }}</td>
    </tr>
    {% endif %}
{% endfor %}
</table>
</div>

{% endblock content%}
